.nav a {
    color: #5a5a5a;
    font-size: 5px;
    font-weight: bold;
    padding: 14px 10px 14px 10px;
    text-transform: uppercase;
}

.jumbotron {
    height: 500px;
    background-image: url('http://goo.gl/04j7Nn')
}
